{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'head.html' %}
    <meta name="description" content="Licitaíba é uma ferramenta que tem o objetivo de simplificar e automatizar o processo de extração de dados de licitações publicadas no Diário Oficial do Estado da Paraíba.">
    <meta name="author" content="Licitaíba">
    <link rel="alternate" href="" hreflang="pt-br" />
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{% static 'imgs/icon-licitaiba.png' %}" />
    <link rel="canonical" href="" />
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <link rel="shortcut icon" sizes="512x512" href="{% static 'imgs/icon-licitaiba.png' %}">
    <title>Equipe :: Licitaíba - Extrator de Licitações do Diário Oficial da Paraíba</title>
</head>

<body>
    {% include 'menu.html' %}

    <header>
        <p class=" txt-header ">Equipe</p>
    </header>

    <section class="equipe">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                  <img style="width:90%; padding:30px;" src="{% static 'imgs/time.png' %}">
                </div>
                <div class="col-7" >
                    <p class="txt-body" style="margin-bottom: 10px">
                        No projeto "Licitaíba", nossa equipe é a espinha dorsal. Com conhecimentos diversos e paixão pelo que faz, estamos desenvolvendo um extrator de licitações do Diário Oficial da Paraíba com simplicidade e transparência, adotando a licença MIT para promover a liberdade de uso e contribuição. Focamos na promoção da transparência e no acesso facilitado às informações públicas no Brasil.
                    </p>
                    <a href="{% {% url 'sobre' %}%}"><button style="margin: 0 5%;" class="btn-2">Sobre o projeto</button></a>
                </div>
            </div>
        </div>

        <section id="time">
            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        <div class="time-membro">
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-carlos.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Carlos Eduardo</h5>
                                    <p class="time-descricao">Product owner</p>
                                    <a  href="https://github.com/Carlos-kadu" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> Carlos-kadu</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm">
                        <div class="time-membro">
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-danilo.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Danilo César</h5>
                                    <p class="time-descricao">Arquiteto</p>
                                    <a href="https://github.com/DaniloCTM" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> DaniloCTM</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="time-membro">                       
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-fernando.jpg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Fernando Gabriel</h5>
                                    <p class="time-descricao">Desenvolvedor</p>
                                    <a href="https://github.com/show-dawn" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> show-dawn</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="time-membro">                            
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-julio.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Júlio César</h5>
                                    <p class="time-descricao">Scrum master</p>
                                    <a href="https://github.com/Julio1099" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> Julio1099</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="time-membro">
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-patricia.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Patrícia Helena</h5>
                                    <p class="time-descricao">Desenvolvedora</p>
                                    <a href="https://github.com/patyhelenaa" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> patyhelenaa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="time-membro">
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-rayene.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Rayene Ferreira</h5>
                                    <p class="time-descricao">Desenvolvedora</p>
                                    <a  href="https://github.com/rayenealmeida" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> rayenealmeida</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="time-membro">
                            <div class="media">
                                <img class="align-self-center mr-3 time-img-membro" src="{% static 'imgs/time-victor.jpeg' %}" alt="membro do time">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Victor Moreira</h5>
                                    <p class="time-descricao">Arquiteto</p>
                                    <a href="https://github.com/aqela-batata-alt" target="_blank">
                                        <p class="time-links"><i class="fa-brands fa-github"></i> aqela-batata-alt</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </section>

    {% include 'footer.html' %}

</body>

</html>