{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'head.html' %}
    <meta name="description" content="Licitaíba é uma ferramenta que tem o objetivo de simplificar e automatizar o processo de extração de dados de licitações publicadas no Diário Oficial do Estado da Paraíba.">
    <meta name="author" content="Licitaíba">
    <link rel="alternate" href="" hreflang="pt-br" />
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{% static 'imgs/icon-licitaiba.png' %}" />
    <link rel="canonical" href="" />
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <link rel="shortcut icon" sizes="512x512" href="{% static 'imgs/icon-licitaiba.png' %}">
    <title>Erro :: Licitaíba - Extrator de Licitações do Diário Oficial da Paraíba</title>


    <style>
        .container {
            text-align: center;
            justify-content: center;
            height: 100vh;
        }

        .botao {
            padding: 13px 30px;
            border-radius: 10px;
            border: none;
            background-color: #0136AF;
            color: #ffffff;
            font-size: 16px;
        }
        .mensagem{
            padding: 20px;
            font-size: 24px;
        }
    </style>

</head>

<body>
    {% include 'menu.html' %}

    <section class="erro">
        <div class="container">
            <img src="{% static 'imgs/erro404.jpg' %}" alt="Imagem de erro 404" style="width: 45%; height: auto;">
            <h1 class= "mensagem">Página não encontrada</h1>
            <div class="boton">
                <button class="botao">Página inicial</button>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

</body>

</html>