{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'head.html' %}
    <meta name="description" content="Licitaíba é uma ferramenta que tem o objetivo de simplificar e automatizar o processo de extração de dados de licitações publicadas no Diário Oficial do Estado da Paraíba.">
    <meta name="author" content="Licitaíba">
    <link rel="alternate" href="" hreflang="pt-br" />
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{% static 'imgs/icon-licitaiba.png' %}" />
    <link rel="canonical" href="" />
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <link rel="shortcut icon" sizes="512x512" href="{% static 'imgs/icon-licitaiba.png' %}">
    <title>Licitaíba</title>
</head>

<body>
    {% include 'menu.html' %}

    <div class="home">
        <div class="licitaiba-home-esquerda">
            <div class="licitaiba-home-brand">
                <img class="licitaiba-home-esquerda-img" src="{% static 'imgs/licitaiba.png' %}">
                <h1 class="txt-white">Extrator de Licitações do Diário Oficial da Paraíba</h1>
                <button class="btn-primary">Buscar Licitação</button>
            </div>
        </div>
        <div class="licitaiba-home-direita" style>
            <img class="licitaiba-home-direita-img" src="{% static 'imgs/analise-de-dados.png' %}">
        </div>
    </div>

    <!-- <header>
        <p class=" txt-header ">Simule sua média</p>
        </header> -->

    </div>

    {% include 'footer.html' %}
</body>

</html>