:root {
    --primary-color-bg: #fcfcfc;
    --primary-color-txt: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: " Lato ", sans-serif;
}


/* SIDEBAR */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--primary-color-bg);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-top: 55px;
    margin-left: 200px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* FIM -> SIDEBAR */


/* NAV BAR */

.navbar-squad4 {
    background: var(--primary-color-bg);
    position: fixed;
}

.navbar-squad4 .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border: none;
}

.navbar-squad4 .navbar-nav .nav-link {
    color: var(--primary-color-txt)!important;
}

.navbar-squad4 a {
    text-decoration: none;
    color: #000;
}

.dropdown-menu {
    /* box-shadow: 0px 0px 3px 1px #111; */
    background-color: var(--primary-color-bg)!important;
}

.dropdown-item {
    color: var(--primary-color-txt)!important
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--primary-color-txt)!important;
    transition: .4s;
}


/*FIM -> NAV BAR*/


/*FOOTER*/

.score-watch-footer {
    background: var(--primary-color-txt)!important;
    color: #fff;
    backdrop-filter: blur(5px);
    padding: 5px;
}

.footer-brand img {
    width: 100%;
}

.footer-brand {
    text-decoration: none;
    color: #fff;
}

.footer-brand:hover {
    text-decoration: none;
    color: #fff;
}